<style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: indigo[200];
    }

    .contactUsHeading {
      height: 50vh;
      width: 100vw;
      margin-bottom: 10vh;
      padding-top: 35vh;
      background-image: url("background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0.8;
    }

    header {
      position: sticky;
      top: 0px;
      background-color: white;
      width: 100vw;
      border-bottom: 100px solid grey;
      border-width: 0.1vh;
      padding-bottom: 0%;
      padding-top: 1%;
      z-index: 1;

    }

    .nav-links>ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
    }

    .nav-link {
      position: relative;
    }

    .nav-link>a {
      line-height: 3rem;
      color: grey;
      padding: 0 .8rem;
      letter-spacing: 1px;
      font-size: .95rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: .5s;
      style: none;
    }

    .nav-link:hover>a {
      transform: scale(1.1);
      text-decoration: none;
      color: #45a049;
    }

    footer {
      background-color: grey;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%;
      margin: auto;
      min-height: 200px;
    }


    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }

      @media (max-width: 300px) {
        .navbar-nav {
          flex: initial;
          width: 100%;
        }

        .nav-link {
          width: 100%;
          opacity: 0;
          transform: translateY(15px);
        }

      }
  </style>